@{
    ViewData["Title"] = "Home Page";
}

<div id="mainContent">
<div id="logoAlign" class="text-center">

    <h1 class="neon-txt">Welcome to MyKeys</h1>
    <div class="my-div">
        <img class="img-logo" src="~/images/logork.png" alt="Alternate Text" />
    </div>
</div>
</div>
