@model VideoGames.MVC.Models.VideoGameCDkeyModel

@{
    ViewData["Title"] = "CD Key Düzenle";
    var videoGameId = Model.VideoGameId;
}

<h2>CD Key Güncelle</h2>

<form asp-action="Edit" asp-controller="CDKey" asp-area="Admin" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="VideoGameId" />

    <div class="form-group mb-3">
        <label>CD Key</label>
        <input asp-for="CDkey" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-area="Admin" asp-controller="CDKey" asp-action="Index" asp-route-videoGameId="@videoGameId" class="btn btn-secondary">Geri Dön</a>
</form>
