@using System.Security.Claims

<header class="bg-dark text-white fixed-top border-bottom border-info ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"> <img class="img-navbar-logo" src="~/images/logork.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color:cyan" href="/"> <i class="fas fa-home"></i> Anasayfa</a>
                    </li>
                    @await Component.InvokeAsync("CategoriesOnMenu")
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var userEmail = User.FindFirst(ClaimTypes.Email)?.Value;
                        var userName = User.FindFirst(ClaimTypes.Name)?.Value;
                        var displayName = userEmail ?? userName ?? "Kullanıcı";
                        <li class="nav-item">
                            <a class="nav-link" style="color:royalblue" asp-area="" asp-controller="Account" asp-action="Index">
                                <i class="fas fa-user"></i> @displayName
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: dodgerblue" asp-area="" asp-controller="Order" asp-action="Index">
                                <i class="fas fa-shopping-bag"></i> Siparişlerim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:gold" asp-area="" asp-controller="Cart" asp-action="Index">
                                <i class="fas fa-shopping-cart"></i> Sepet
                            </a>
                        </li>
                        @if (User.IsInRole("AdminUser"))
                        {
                            <li class="nav-item" >
                                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-cog"></i> Admin Paneli
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" style="color:red" asp-area="" asp-controller="Auth" asp-action="Logout">
                                <i class="fas fa-sign-out-alt"></i> Çıkış Yap
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" style="color:gold" asp-area="" asp-controller="Cart" asp-action="Index">
                                <i class="fas fa-shopping-cart"></i> Sepet
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  style="color:chartreuse" asp-area="" asp-controller="Auth" asp-action="Login">
                                <i class="fas fa-sign-in-alt"></i> Giriş Yap
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  style="color:mediumvioletred"   asp-area="" asp-controller="Auth" asp-action="Register">
                                <i class="fas fa-user-plus"></i> Kayıt Ol
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</header>